.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    clear: both;
    margin: 10rem auto;
    max-width: 82.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    // text-align: justify;
}

@media (max-width: 480px) {
    .about-container {
        text-wrap: balance;
        text-align:inherit;
        margin: 6rem auto;
        padding-left: 1rem;
    }
}