$btn-yellow: #ffc922;
$btn-lightblue: #00bcd4;
$dark-mode-color1: #292929;
$dark-mode-color2: #121212;

.home-container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
    gap: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    margin: 10rem auto;
    max-width: 82.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}

h1 {
  font-size: 53px;
  margin: 0;
  font-family: 'Coolvetica';
  font-weight: 400;
  span {
    color: #f2e7fe;
    font-size: 5rem;
  }
}

h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
  color: $btn-yellow;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $btn-yellow;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background-color: $btn-yellow;
    color: $dark-mode-color1;
  }
}
