.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 400px;
  width: 400px;

  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
